



<TABLE width=400 border="0" cellpadding="0" cellspacing="0" align="center">
<TR>
<TD><FONT face=arial size=2><BR><BR><BR>
<B><FONT color=navy><U>Contact us via E-mail</U></FONT></B>
<BR>
	YourCompany.XXX 
            welcomes your pre-sales questions regarding our services or goods, 
            or any other inquiries you might have. Please use the form below to 
            contact us with any questions or concerns you might have. Once 
            submitted, your inquiry will be assigned to a support 
            representative.
<BR><BR><BR>

<FORM action=http://www.YourCompany.XXX/cgi-bin/FormMail.cgi>
<input name=recipient type=hidden value=your@mail.com> 
<input name=subject type=hidden value="Contact E-mail"> 

<TABLE width=400>               
                <TR>
                    <TD>Your E-mail:</TD>
                    <TD>
                        <input name=email size=26></TD></TR>
                <TR>
                    <TD>Your Name:</TD>
                    <TD>
                        <input name=realname size=26></TD></TR>
                <TR>
                    <TD vAlign=top>Your Note:</TD>
                    <TD><TEXTAREA cols=30 name=notes rows=5></TEXTAREA></TD></TR></TABLE>
<br>
<INPUT type=submit value="Submit E-mail"> 
<INPUT type=reset value="Clear Form"> 
            
            <CENTER></CENTER><BR><BR><BR><B>
<FONT color=navy><U>Contact us via Telephone</U></FONT></B>
<BR>
	You may reach us via Telephone at (xxx)xxx-xxxx 
<FONT face=arial size=2 ><I>All times are Central Time Zone. </I></FONT>
<BR><BR><B><FONT color=navy><U>Contact us via FAX</U></FONT></B><BR>
	If you need to send a fax to 
            YourCompany.XXX, please include a coversheet indicating the 
            desired recipient or department and send your fax to:
<BR><BR>(xxx)xxx-xxxx<BR><BR><BR><B><FONT color=navy><U>Contact us via Postal 
            Mail</U></FONT></B><BR>Please send all postal 
            inquiries, check/money orders, resumes, and other postal mail to the 
            address below:<BR><BR>YourCompany.XXX<BR>Address 1 
            <BR>City, State/Province, Zip/PC<BR 
            ><BR><BR><BR><B><FONT 
            color=navy><U>Contact us 
            via Walk-In</U></FONT></B><BR><BR>Walk in visitations are always welcome. During extended 
            office hours, we always have sales and technical support 
            representatives ready to answer your questions one on one with 
            current and potential clients. Those interested in tours of Network 
            Operations Center are encouraged to call 24 hours ahead of time.<BR 
            ><BR></FONT></FORM><BR 
            ><BR><B><FONT color=navy><U>ICQ Contact:</U></FONT></B></B><BR><BR 
            >Our ICQ pin (number in top lis) is xxxxxxxx. 
            The images bellow shows if we are reachable via ICQ.<BR>&nbsp; 
    </TD></TR></TABLE></TD></TR></TABLE></TD></TR></TABLE>
