



<FORM action=http://www.BohemiaTrading.com/cgi-bin/FormMail.cgi>
<input name=recipient type=hidden value=vpekulas@home.com> 
<input name=subject type=hidden value="Contact E-mail"> 
<TABLE width=400>
<TR>
<TD>Your E-mail:</TD>
<TD>
<input name=email size=26></TD></TR>
                <TR>
                    <TD>Your Name:</TD>
                    <TD>
                        <input name=realname size=26></TD></TR>
                <TR>
                    <TD vAlign=top>Your Note:</TD>
                    <TD><TEXTAREA cols=30 name=notes rows=5></TEXTAREA></TD></TR></TABLE>
<br><INPUT type=submit value="Submit FeedBack"> <INPUT type=reset value="Clear Form">

