<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>
<HEAD>
	<TITLE>Untitled Glossary</TITLE>
</HEAD>

<BODY>

<H1>
	<A NAME="GlossTop">Glossary of Terms</A>
</H1>

<HR>

<!-- Glossary Toolbar -->
<H3>
	<A HREF="#GlossA">A</A> 
	<A HREF="#GlossB">B</A> 
	<A HREF="#GlossC">C</A> 
	<A HREF="#GlossD">D</A> 
	<A HREF="#GlossE">E</A> 
	<A HREF="#GlossF">F</A> 
	<A HREF="#GlossG">G</A> 
	<A HREF="#GlossH">H</A> 
	<A HREF="#GlossI">I</A> 
	<A HREF="#GlossJ">J</A> 
	<A HREF="#GlossK">K</A> 
	<A HREF="#GlossL">L</A> 
	<A HREF="#GlossM">M</A> 
	<A HREF="#GlossN">N</A> 
	<A HREF="#GlossO">O</A> 
	<A HREF="#GlossP">P</A> 
	<A HREF="#GlossQ">Q</A> 
	<A HREF="#GlossR">R</A> 
	<A HREF="#GlossS">S</A> 
	<A HREF="#GlossT">T</A> 
	<A HREF="#GlossU">U</A> 
	<A HREF="#GlossV">V</A> 
	<A HREF="#GlossW">W</A> 
	<A HREF="#GlossX">X</A> 
	<A HREF="#GlossY">Y</A> 
	<A HREF="#GlossZ">Z</A> 
</H3>

<HR>

<!-- Letter A -->
<H1><A NAME="GlossA"> A </A></H1>
<DL>
	<DT><A NAME="abacus"><B>abacus</B></A>
	<DD>an instrument for performing calculations by sliding counters along rods or in grooves.	
</DL>
<P>
<DL>
	<DT><A NAME="aberrant"><B>aberrant</B></A>
	<DD>a person whose behavior departs substantially from the standard.	
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter B -->
<H1><A NAME="GlossB"> B </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter C -->
<H1><A NAME="GlossC"> C </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  D -->
<H1><A NAME="GlossD"> D </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  E -->
<H1><A NAME="GlossE"> E </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  F -->
<H1><A NAME="GlossF"> F </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>

<!-- Letter  G -->
<HR>
<H1><A NAME="GlossG"> G </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  H -->
<H1><A NAME="GlossH"> H </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  I -->
<H1><A NAME="GlossI"> I </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  J -->
<H1><A NAME="GlossJ"> J </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  K -->
<H1><A NAME="GlossK"> K </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  L -->
<H1><A NAME="GlossL"> L </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  M -->
<H1><A NAME="GlossM"> M </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  N -->
<H1><A NAME="GlossN"> N </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  O -->
<H1><A NAME="GlossO"> O </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>

<!-- Letter  P -->
<HR>
<H1><A NAME="GlossP"> P </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  Q -->
<H1><A NAME="GlossQ"> Q </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  R -->
<H1><A NAME="GlossR"> R </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  S -->
<H1><A NAME="GlossS"> S </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  T -->
<H1><A NAME="GlossT"> T </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  U -->
<H1><A NAME="GlossU"> U </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  V -->
<H1><A NAME="GlossV"> V </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  W -->
<H1><A NAME="GlossW"> W </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  X -->
<H1><A NAME="GlossX"> X </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  Y -->
<H1><A NAME="GlossY"> Y </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

<!-- Letter  Z -->
<H1><A NAME="GlossZ"> Z </A></H1>
<DL>
    <DD>
</DL>
<SMALL><A HREF="#GlossTop">Top</A></SMALL>
<HR>

</BODY>
</HTML>

