<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Untitled</title>
</head>

<body>
<TABLE bgColor=#ffffcc border=0 cellPadding=4 cellSpacing=0 width=470 align="center">
  
  <TR>
    <TD><FONT face="verdana, arial, helvetica" size=4><B>Sample Privacy 
      Notice</B></FONT><BR><FONT face="verdana, arial, helvetica" 
      size=2>Effective <B>month/day/year</B><BR><BR>
      <DL>
        <DT><B>Privacy Notice Table Of Contents:</B><BR><BR>
        <DD><A href="#1">Our Commitment To Privacy</A> 
        <DD><A href="#2">The Information We Collect</A> 
        <DD><A href="#3">How We Use Information</A> 
        <DD><A href="#4">Our Commitment To Data Security</A> 
        <DD><A href="#5">Our Commitment To Children's Privacy</A> 
        <DD><A href="#6">How To Access Or Correct Your Information</A> 
        <DD><A href="#7">How To Contact Us</A><BR><BR><A name=1></A>
        <DT><B>Our Commitment To Privacy</B> 
        <DD>
        <P>Your privacy is important to us. To better protect your privacy we 
        provide this notice explaining our online information practices and the 
        choices you can make about the way your information is collected and 
        used. To make this notice easy to find, we make it available on our 
        homepage and at every point where personally identifiable information 
        may be requested. </P><A name=2></A>
        <DT><B>The Information We Collect:</B> 
        <DD>
        <P>This notice applies to all information collected or submitted on the 
        [company name] website. On some pages, you can order products, make 
        requests, and register to receive materials. The types of personal 
        information collected at these pages are: </P>
        <DL>
          <DD>Name 
          <DD>Address 
          <DD>Email address 
          <DD>Phone number 
          <DD>Credit/Debit Card Information 
          <DD>[Etc.] </DD></DL>
        <P>On some pages, you can submit information about other people. For 
        example, if you order a gift online and want it sent directly to the 
        recipient, you will need to submit the recipient's address. In this 
        circumstance, the types of personal information collected are: </P>
        <DL>
          <DD>Name 
          <DD>Address 
          <DD>Phone Number 
          <DD>[Etc.] </DD></DL><BR><A name=3></A>
        <DT><B>The Way We Use Information:</B> 
        <DD>
        <P>We use the information you provide about yourself when placing an 
        order only to complete that order. We do not share this information with 
        outside parties except to the extent necessary to complete that order. 
        </P>
        <P>We use the information you provide about someone else when placing an 
        order only to ship the product and to confirm delivery. We do not share 
        this information with outside parties except to the extent necessary to 
        complete that order. </P>
        <P>We offer gift-cards by which you can personalize a product you order 
        for another person. Information you provide to us to create a gift-card 
        is only used for that purpose, and it is only disclosed to the person 
        receiving the gift. </P>
        <P>We use return email addresses to answer the email we receive. Such 
        addresses are not used for any other purpose and are not shared with 
        outside parties. </P>
        <P>You can register with our website if you would like to receive our 
        catalog as well as updates on our new products and services. Information 
        you submit on our website will not be used for this purpose unless you 
        fill out the registration form. </P>
        <P>We use non-identifying and aggregate information to better design our 
        website and to share with advertisers. For example, we may tell an 
        advertiser that <I>X </I>number of individuals visited a certain area on 
        our website, or that <I>Y</I> number of men and <I>Z</I> number of women 
        filled out our registration form, but we would not disclose anything 
        that could be used to identify those individuals. </P>
        <P>Finally, we never use or share the personally identifiable 
        information provided to us online in ways unrelated to the ones 
        described above without also providing you an opportunity to opt-out or 
        otherwise prohibit such unrelated uses. </P><A name=4></A>
        <DT><B>Our Commitment To Data Security</B> 
        <DD>
        <P>To prevent unauthorized access, maintain data accuracy, and ensure 
        the correct use of information, we have put in place appropriate 
        physical, electronic, and managerial procedures to safeguard and secure 
        the information we collect online. </P><A name=5></A>
        <DT><B>Our Commitment To Children's Privacy:</B> 
        <DD>
        <P>Protecting the privacy of the very young is especially important. For 
        that reason, we never collect or maintain information at our website 
        from those we actually know are under 13, and no part of our website is 
        structured to attract anyone under 13. </P><A name=6></A>
        <DT><B>How You Can Access Or Correct Your Information</B> 
        <DD>
        <P>You can access all your personally identifiable information that we 
        collect online and maintain by [description of the company access 
        procedure]. We use this procedure to better safeguard your information. 
        </P>
        <P>You can correct factual errors in your personally identifiable 
        information by sending us a request that credibly shows error. </P>
        <P>To protect your privacy and security, we will also take reasonable 
        steps to verify your identity before granting access or making 
        corrections. </P><A name=7></A>
        <DT><B>How To Contact Us</B> 
        <DD>
        <P>Should you have other questions or concerns about these privacy 
        policies, please call us at [phone number] or send us an email at [email 
        address]. </P></DD></DL></FONT></TD></TR></TABLE>



</body>
</html>
